@media only screen and (max-width: 800px) {
    .menu {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        margin: 0 auto;
        width: 80%;
        font-size: 1.5rem;
    }

    .header {
        display: grid;
        grid-template-columns: 6fr 1fr;
        align-items: center;
    }

    .menuLinks {
        display: grid;
        grid-template-columns: 1fr;
        /* justify-items: end; */
    }

    .menuLink {
        padding: 10px 0px;
    }
}