.post {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
}

.meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #2EC4B6;
    padding: 1rem 0;
    border-bottom: 2px dotted #FDFFFC;
}

.tags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tag {
    color: #2EC4B6; 
    margin-bottom: 0.5rem;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
}

.sidebarItem {
    border: 1px solid #FDFFFC;
    padding: 1rem;
}

@media (max-width: 1200px) {
    .post {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .sidebar {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

}

@media (max-width: 800px) {
    .sidebar {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 600px) {

    .post {
        text-align: center;
        align-items: center;
        justify-items: center;
    }

    .meta {
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }

}