/* .post {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    border-bottom: 2px dotted #FDFFFC;
    padding: 2rem 0;
} */

.meta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #2EC4B6;
    padding: 1rem 0;
    border-bottom: 2px dotted #FDFFFC;
}