.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

@media (max-width: 600px) {
    .hero {
        grid-template-columns: 1fr;
        row-gap: 2rem;
        justify-items: center;
        text-align: center;
    }
}