* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #011627;
    color: #FDFFFC;
}

a {
    color: #FDFFFC;
    text-decoration: none;
}

a:hover {
    color: #2EC4B6;
    text-decoration: underline;
}