.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
}

.image {
    display: grid;
    align-items: center;
}

.image img {
    height: 25rem;
}

@media (max-width: 1200px) {
    .about {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        justify-items: center;
    }
}

@media (max-width: 900px) {
    .image img {
        height: 20rem;
    }
}

@media (max-width: 600px) {
    .image img {
        height: 15rem;
    }
}